@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Shared style */
.display-flex{
  display: flex;
}
.text-color-primary{
  color: rgba(58, 58, 58, 1);
}

/* Header Style */
.navbar{
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}
.brand{
  font-size: 1.25rem;
  font-weight: bold;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
  color: rgba(58, 58, 58, 1);
  font-weight: 600;
}

.banner{
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
.banner-content{
  max-width: 582px;
}
.banner-img{
  max-width: 540px;
  background-image: url("images/Circle\ design.svg");
  background-position: center;
  background-size: cover;
}


.banner-title{
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 70px;
}
.banner-des{
  font-size: 1rem;
  font-weight: 600;
}
.banner-btn{
  background-color: rgba(224, 44, 109, 1);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
}



/* sponsor related style */
.our-sponsor{
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Collection related style*/
.popular-collection{
  max-width: 1147px;
  margin: 0 auto;
  margin-top: 100px;
}

.popular-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-item img{
  width: 100%;
}
.popular-item{
  width: 329px;
  padding: 15px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.item-title{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 40px;
  color: rgba(24, 25, 31, 1);
  margin: 10px 0px;
}
.item-cast{
  font-size: 1.5rem;
  margin: 0px 0px;
}
.item-des{
  color: rgba(120, 120, 133, 1);
  font-weight: bold;
}




@media screen and (max-width : 576px) {
  .navbar, .nav-links, .banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    padding: 0px 0px;
  }
  .nav-item{
    margin-top: 10px;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-img{
    margin-top: 50px;
  }
  .sponsor-companies{
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsor-companies img{
    margin-bottom: 50px;
  }
  .popular-items{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width : 577px) and (max-width : 992px) {
  .navbar{
    padding: 50px 10px;
  }
  .banner{
    padding: 0px 10px;
  }
  .popular-items{
    grid-template-columns: repeat(2, 1fr);
  }
}